.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  font-family: var(--foreground);
}

.page__title {
  font-size: 2rem;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}